@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

body {
	margin: 0px;
	background-color: #a77bca;
	display: flex;
	align-items: center;
	justify-content: center;
}

#sign {
	font-family: 'Anton', sans-serif;
	text-transform: uppercase;
	text-align: center;
	font-size: 2vw;
	color: #ffffff;
	text-shadow: 2px 2px 5px #cccccc;
}

#name {
	font-family: 'Anton', sans-serif;
	font-size: 48px;
	width: 95%;
	text-align: center;
	border: 0px solid black;
	border-radius: 25px;
	margin-bottom: 0px;
	background-color: rgba(127,127,127,0.25);
}

#body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 50vw;
	height: 95vh;
}

#bodyTwo {
	width: 50vw;
	height: 95vh;
	display: flex;
	align-items: center;
	flex-direction: column;
}

#clicker {
	width: 75%;
	height: 50%;
	background-color: #966ab9;
	padding: 12px;
	border-radius: 25px;
}

#clicker:hover{
	box-shadow: 2px 2px 5px #744897;
}

#sellTacos {
	width: 50%;
	margin: 6px;
	font-family: 'Anton', sans-serif;
	font-size: 32px;
	background-color: #00ff00;
	border: 2.5px solid #00dd00;
	border-radius: 25px;
	box-shadow: 4px 4px 6px #00cc00;
}

a {
	margin: 6px;
	width: 50%;
	font-family: 'Anton', sans-serif;
	color: #ffffff;
	background-color: #ddc600;
	text-align: center;
	border-radius: 25px;
	box-shadow: 4px 4px 6px #ffd700;
}

#sellTacos:hover{
	box-shadow: 4px 4px 6px #00aa00;
}

#reset {
	width: 75%;
	margin: 6px;
	font-family: 'Anton', sans-serif;
	font-size: 20px;
	background-color: #ff0000;
	border: 2.5px solid #cc0000;
	border-radius: 25px;
	box-shadow: 4px 4px 6px #aa0000;
	color: #990000;
}

.upgrade {
	width: 75%;
	margin: 6px;
	font-family: 'Anton', sans-serif;
	font-size: 20px;
	background-color: #744897;
	border: 2.5px solid #633786;
	border-radius: 25px;
	box-shadow: 4px 4px 6px #633786;
}

.upgrade:hover{
	box-shadow: 4px 4px 6px #411564;
}